body {
	background-image: url("../images/bananas.png");
	width: 960px;


}

header {
	background-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: gray;
	width: 960px;
	overflow: auto;

}

h1 {
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px;
	margin-left: 10px;
	color: white;
}

nav {
	float: right;
	

}

h4 {
	margin: 10px;
	float: right;

}


section {
	width: 650px;
	background-color: #ffffff;
	float: left;
	overflow: auto;
	clear: left;
	margin: 10px;
}

article{
	margin: 0px;
	padding: 20px;
}

h2 {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: gray;
	margin: 0px;
	padding-bottom: 20px;
}

.profilepic1 {
	float: left;
	margin: 10px;
}

.profilepic2 {
	float: right;
	margin: 10px;
	width: 200px;
}

aside {
	width: 270px;
	background-color: #ffffff;
	float: right;
	overflow: auto;
	margin: 10px;


}

footer {
 	clear: both;
 	background-color: #666;
 	text-align: center;
 	color: #ffffff;
 	border-top-style: solid;
 	border-top-width: 10px;
 	border-top-color: #4aaaa5;
 	padding: 40px;
 	font-weight: lighter;
 	width: 960px;
}

